Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/*.swp
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/build_shell/*.o
src/jsonmod/*.o
src/build_shell-version.h
stamp-h1
*~
src/build_shell/.deps/
src/build_shell/build_shell
src/jsonmod/.deps/
src/jsonmod/jsonmod
